@font-face {
    font-family: 'Comfortaa';
    src: url(fonts/Comfortaa-Regular.ttf);
  }
/*STYLE SHEET For recipes.html*?
/*
/*Reset Stylesheet */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family:'Comfortaa', sans-serif;
    color:black;
    font-size: 14px;
    background-color:white;
}
header {
    font-family:'Comfortaa', sans-serif;
    background-color:#65a603;
    width: 100%;
    height: 100px;
    letter-spacing: 5px;
    margin: 10px;
    position: relative;
    padding: 1%;
}
h1 {
    font-family:"Comfortaa", sans-serif;
    color: rgb(1, 0, 0);
    font-size: 75px;
    background-color: #65a603;
    height: 10%;
    width: 100%;
    text-align:left ;
    padding: 5%;
    position: relative;
}
div{
    width: 85%;
    height: 50%;
    background-color: #317302;
    position: relative;
}
.recipephoto img,
.recipephoto p {
    display: block;
    float: left;
    width: 30%;
    height: 325px;
    margin: 1%;
 }

img{
    width: 40%;
    height: 700px;
    position: relative;
    left: 55%;
}
p{
    color: black;
    font: size 100px;
    font-weight: bold;
    background-color: rgb(214, 209, 209);
    padding: 1%;
    width: 50%;
    height: 700px;
    position: relative;
    left: 2%;
    padding: auto;
}
h2 {
    font-family:"Comfortaa", sans-serif;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    /*height: 10%;
    width: 100%;*/
    text-align:center ;
    padding: 5%;
}
button{
    font-size: 15px;
    width: 225px;
    background-color:#1a4407;
    padding: 5%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 70px;
    margin: 25px;
    z-index: 999;
}
article{
    padding: 0;
    width: 15%;
    height: 680px;
    background-color: rgb(144, 167, 140);
    border: red;
    position:absolute;
    right: 0;
    top: 300px;
}
#schedule{
    background-color:#730202;
    padding: 1%;
    color: white;
    width: 300px;
    font-weight: bold;
    border-radius: 70px;
    position: relative;
    top: 2px;
    left: 1150px;
}
#email{
    background-color:#1a4407;
    padding: 1%;
    color: white;
    width: 300px;
    font-weight: bold;
    border-radius: 70px;
    position: relative;
    top: 2px;
    left: 50px;
}
footer{
    color: rgb(1, 0, 0);
    font-size: 35px;
    background-color: #65a603;
    height: 150px;
    width: 100%;
    text-align:left;
}