/*STYLE SHEET For scheduleaconsult.html*?
/*
/*Reset Stylesheet */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family:'Comfortaa', sans-serif;
    color:black;
    font-size: 18px;
    background-color:#65a603;
}
h1 {
    font-family:"Comfortaa", sans-serif;
    color: rgb(1, 0, 0);
    font-size: 55px;
    background-color: #317302;
    height: 5%;
    width: 100%;
    text-align:center ;
    padding: 1%;
}