@font-face {
    font-family: 'Comfortaa';
    src: url(fonts/Comfortaa-Regular.ttf);
  }
/*STYLE SHEET For index.html*?
/*
/*Reset Stylesheet */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
       background-color:white;
}
header {
    font-family:'Comfortaa', sans-serif;
    background-color:#65a603;
    width: 100%;
    height: 220px;
    letter-spacing: 5px;
}
h1 {
    font-family:"Comfortaa", sans-serif;
    color: rgb(1, 0, 0);
    font-size: 75px;
    background-color: #65a603;
    height: 5px;
    width: 100%;
    text-align:center ;
    padding: 2%;
}
nav ul li{
    color: white;
    font-size: 14px;
    text-align: center;
   /* height: 60px;
    width: 190px;*/
    background-color: #1a4407;
    list-style-type:none;
    float: left;
    border-radius: 40px;
    padding: 1%;
    margin: 60px;
    z-index: 999;
}
nav ul li a{
   color: white;
   text-decoration: none; 
   padding: 1px;
   margin: 40px;
  /* float: left;*/
   z-index: 999;
}
nav ul li a:hover{
   color: #d93333;
}
main {
    width:100%;
}
#banner {
    clear: left;
    background-image:url(../images/breakfast.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height:200px;
}
.image-text-image img,
.image-text-image p {
    display: block;
    float: left;
    width: 30%;
    height: 325px;
    margin: 1%;
}
p{
    font-family: "Comfortaa", sans-serif;
    color: white;
    background-color: #1a4407;
    font-size: 33px;
    text-align:center;
    letter-spacing: 5px;
    display: inline-block;
    vertical-align: middle;
}
/*.special-text{ 
    font-family: "Comfortaa", sans-serif;
    background-color: #317302;
    text-transform: uppercase;
    letter-spacing: 5px;
  }*/
button{
    background-color:#d93333;
    padding: 1%;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    position: relative;
    top: 2px;
    left: 1600px;
}
#footer{
    /*clear: position;*/
    color: rgb(1, 0, 0);
    background-color: #65a603;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
#email{
    background-color:#1a4407;
    padding: 1%;
    color: white;
    font-weight: bold;
    border-radius: 40px;
    position: relative;
    top: 2px;
    left: 100px;
}
